<% layout("/layouts/boilerplate")%>
<div class="row">
    <div class="col-8 offset-2">
        <h3>Create a new Listing</h3>
        <br>
        <form method="post" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" name="listing[title]" placeholder="enter title" id="title" class="form-control" required>
                <div class="invalid-feedback">Title should be valid</div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">description</label>
                <textarea name="listing[description]" class="form-control" id="description" required></textarea>
                <div class="invalid-feedback">Description should be valid</div>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Upload Listing Image</label>
                <input type="file" name="listing[image]" id="image" class="form-control">
            </div>
            <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="price" class="form-label">Price</label>
                    <input  name="listing[price]" id="price" class="form-control" required>
                    <div class="invalid-feedback">Price should be valid</div>
                </div>
                <div class="mb-3 col-md-8">
                    <label for="country" class="form-label">Country</label>
                    <input type="text" name="listing[country]" id="country" placeholder="enter country" class="form-control" required>
                    <div class="invalid-feedback">country name should be valid</div>
                </div><br>
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input type="text" name="listing[location]" id="location" placeholder="enter location" class="form-control" required>
                <div class="invalid-feedback">location should be valid</div>
            </div>
            <div class="mb-3">
                <label for="filter" class="form-label">Filter : choose from mountains,cities,farms,pools,castles,camping</label>
                <input type="text" name="listing[filter]" id="filter" placeholder="enter filter" class="form-control" required>
                <div class="valid-feedback"></div>
            </div>
            <button class="btn btn-dark mt-3">Add</button>
            <br><br>
        </form>
    </div>
</div>

